.breadcrumbs{
  font-size: 0;
  color: #8d8f91;
  margin-bottom: 10px;
  .item{
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
  }
  .symbol{
    font-size: 14px;
    margin: 0 3px;
  }
  .active{
    border-bottom: 1px solid #8d8f91;
  }
}