<div class="certificate-title">Активувати подарунковий сертифікат “Нова лінія”</div>
<div class="certificate-content">
    <div class="first-column">
        <div class="certificate-num-wrap">
            <p class="error-message">Код сертифікату не вірний, спробуйте ще раз!</p>
            <label for="certificate-number">Номер сертифікату<span>*</span></label><input type="text"
                                                                                          id="certificate-number">
        </div>
        <div class="btn-activate-wrap">
            <a href="#" id="activate-btn" class="activate-btn">активувати</a>
        </div>
    </div>
    <div class="second-column">
        <img src="img/certificate.png">
    </div>

</div>
<div class="submit-message">
    <div id="success">
        <p class="message">Дякуємо, Ваш сертифікат активований!</p>
        <div class="success-icon"></div>
    </div>
    <div id="reject">
        <p class="message">Вибачте, данний сертифікат вже активований!</p>
        <div class="reject-icon"></div>
    </div>
</div>
